.scene{
	position : relative;
}

#stageOne{
	width : 500px;
	height : 500px;
	margin : auto;
}

#backgroundOne{
	position : absolute;
	top : 0px;
	left : 0px;
	background-color : yellow;
}

#player{
	position : absolute;
	width : 10px;
	height : 10px;
	background-color : red;
}

